services:
  - type: web
    name: bus-booking-backend
    env: node
    buildCommand: cd server && npm install
    startCommand: cd server && npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
      - key: REDIS_URL
        sync: false
      - key: CLIENT_URL
        sync: false
    plan: free
